$azul: #4285f4;
$titulos: #424242;
$fecha: #5f6368;
$texto: #414549;
$background-news: #f0f1f2;
$height-news: 80px;
$mrg-top-news: 30px;
$padding-news: 5px;
$news-text-more: 12px;
$mrg-top-text: 20px;